input {
  jdbc {
    jdbc_driver_library => "/usr/share/logstash/mysql-connector-java-8.0.23.jar"   # Dockerfile 로 설치한 커넥터 경로
    jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://rds-endpoint.com:3306/database?serverTimezone=Asia/Seoul&characterEncoding=UTF-8" # JDBC 연결정보
    jdbc_user => "유저"
    jdbc_password => "비밀번호"
    jdbc_paging_enabled => true
    tracking_column => "unix_ts_in_secs"  # 변경된 데이터만 추적
    use_column_value => true
    tracking_column_type => "numeric"
    schedule => "*/5 * * * * *"       # query 주기 설정
    statement => "SELECT *, UNIX_TIMESTAMP(updated_at) AS unix_ts_in_secs FROM diaries WHERE (UNIX_TIMESTAMP(updated_at) > :sql_last_value AND updated_at < NOW()) ORDER BY updated_at ASC"
    last_run_metadata_path => "/usr/share/logstash/.logstash_jdbc_last_run"  # metadata 저장 위치
  }
}
filter {
    mutate {
        copy => {"diary_id" => "[@metadata][_id]"}
        copy => {"drawing_url" => "drawingUrl"}
        copy => {"diary_date" => "diaryDate"}
        copy => {"is_deleted" => "isDeleted"}
        copy => {"user_id" => "userId"}
        remove_field => ["@version", "unix_ts_in_secs",
        "drawing_url", "diary_id", "diary_date", "created_at", "is_deleted", "user_id"]
    }
}
output {
  elasticsearch {
      hosts => ["http://elasticsearch:9200"]
      index => "diary"
      document_id => "%{[@metadata][_id]}"
  }
}
